*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--dark-blue: hsl(238, 29%, 16%);
	--soft-red: hsl(14, 88%, 65%);
	--soft-violet: hsl(273, 75%, 66%);
	--soft-blue: hsl(240, 73%, 65%);
	--dark-grayish-blue: hsl(237, 12%, 33%);
	--grayish-blue: hsl(240, 6%, 50%);
	--grayish-blue-opac: hsla(240, 6%, 50%, 0.3);
	--light-grayish-blue: hsl(240, 5%, 91%);
}

html {
	box-sizing: border-box;
}

body {
	font-family: "Kumbh Sans", sans-serif;
	background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	flex: 1;
	margin: 1rem;
	padding: 1rem 1.5rem 4rem;
	background-color: var(--light-grayish-blue);
	color: var(--dark-blue);
	max-width: 480px;
	border-radius: 20px;
}

.faq-title {
	text-align: center;
	margin-bottom: 1.5rem;
}

.illustration-img {
	max-width: 480px;
}

.illustration-img-large {
	display: none;
}

.box {
	display: none;
}

.bg-pattern {
	width: 100%;
}

.faq-question-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.faq-container {
	padding: 1rem 0;
	border-bottom: 1px solid var(--grayish-blue-opac);
	position: relative;
}

.faq-question {
	font-size: 0.85rem;
	width: 100%;
	color: var(--grayish-blue);
}

.faq-answer {
	font-size: 0.8rem;
	line-height: 1.5;
	padding: 0.5rem 0;
	height: 0;
	display: none;
	color: var(--grayish-blue);
}

.faq-container.active .faq-question {
	color: var(--dark-blue);
}

.faq-container.active .faq-answer {
	height: 100%;
	display: block;
}

.faq-container.active .icon-arrow {
	transform: rotate(180deg);
}

@media (max-width: 899px) {
	main {
		position: relative;
		margin-top: 12rem;
		padding-top: 12rem;
	}

	.img-container {
		background-image: url("./../images/bg-pattern-mobile.svg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: bottom;
		padding-bottom: 3rem;
		max-width: 360px;
		width: 100%;
		position: absolute;
		top: -10rem;
		left: 50%;
		transform: translateX(-50%);
	}
}

@media (max-width: 475px) {
	main {
		margin-top: 10rem;
		padding-top: 8rem;
	}

	.img-container {
		max-width: 260px;
		padding-bottom: 1.5rem;
		top: -8rem;
	}
}

@media (min-width: 900px) {
	main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		max-width: 830px;
		min-height: 510px;
		padding: 0;
		gap: 2rem;
		align-items: center;
		position: relative;
	}

	.illustration-img {
		display: none;
	}

	.faq-container.active .faq-question:hover,
	.faq-question:hover {
		color: var(--soft-red);
	}

	.box {
		display: block;
		position: absolute;
		top: 210px;
		left: -85px;
		max-width: 175px;
	}

	.img-container {
		overflow: hidden;
		background-image: url("./../images/bg-pattern-desktop.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom 0 right 40px;
		height: 100%;
	}

	.illustration-img-large {
		display: block;
		max-width: 100%;
		position: relative;
		left: -65px;
		top: 50%;
		transform: translateY(-50%);
		max-width: 400px;
	}

	.faq {
		padding-right: 4rem;
		min-height: 400px;
		display: flex;
		flex-direction: column;
		padding-top: 2rem;
	}

	.faq-title {
		text-align: left;
	}

	.faq-question-container {
		cursor: pointer;
	}
}

@media (min-width: 1050px) {
	.box {
		display: block;
		position: absolute;
		top: 210px;
		left: -120px;
		max-width: 175px;
	}
}
